<h1>Safe Search - Images</h1>


<%= form_tag("/image/query", method: "get") do %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
<% end %>
<br/>
<br/>


<% if not @error.nil? %>
    <div style="color:red">
      <%= @error %>
    </div>
<% elsif not @results.nil?
    count = 0
    @results.each do |r|
        if (count % 5 == 0) %>
            <br/>
       <% end
       count += 1 %>
        <a href="<%=r[:link]%>"><%= image_tag(r[:thumb]) %></a>
    <% end %>
    <a href="/image/query?page=<%= @page-1 %>&query=<%= @query %>">Previous</a>
    <a href="/image/query?page=<%= @page+1 %>&query=<%= @query %>">Next</a>
<% else %>
    <div>
      <%= @raw %>
    </div>
<% end %>